<% offers.each do |offer| %>

    <h2><%= offer.title %></h2>
    <p>
      <%= truncate(offer.description, :omission => '... (View offer for full description)', :length => 180) %>
    </p>
    <%= nice_display_of_tag_list(offer) %>
    <%= link_to 'View offer', offer_path(offer) %>
    <%= link_to offer.user.username, user_path(offer.user) %>
<% end %>