<%= form_for @offer, html: {multipart: true} do |f| %>
    <div>
      <%= f.label :title %><br/>
      <%= f.text_field :title, placeholder: 'Offer\'s title' %>
    </div>
    <div>
      <%= f.label :description %><br/>
      <%= f.text_area :description, placeholder: 'Offer\'s description',cols: '30', rows: '10' %>
    </div>
    <div>
      <%= f.label :place %><br/>
      <%= f.text_field :place, placeholder: '22 Jump street, Brisbane' %>
    </div>
    <div>
      <%= f.label :tag_list, 'Tags (separated by commas)' %><br/>
      <%= f.text_field :tag_list, placeholder: 'Accountant, English speaker etc...' %>
    </div>
    <div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
<% end %>