<nav>
  <ul>
    <li><%= link_to "Home", root_path %> </li>
    <li><%= link_to "Show all offers", list_path %> </li>
    <% if user_signed_in? %>
        <li><%= link_to "My offers", offers_path %> </li>
        <li><%= link_to "New offer", new_offer_path %> </li>
    <% end %>
  </ul>

  <ul>
    <% unless user_signed_in? %>
        <li><%= link_to "Sign up", new_user_registration_path %> </li>
        <li><%= link_to "Sign in", new_user_session_path %> </li>
    <% else %>
        <li><span>Welcome <%= current_user.username %></span></li>
        <li><%= link_to "Edit profile", edit_user_registration_path %> </li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
    <% end %>
  </ul>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>