<nav>
  <ul>
    <li><%= link_to "Home", root_path %> </li>
    <li><%= link_to "Show all offers", list_path %> </li>
    <%= nice_display_of_offer_options %>
  </ul>

  <ul>
    <%= nice_display_of_user_options %>
  </ul>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>